In [119]:
import pandas as pd
import numpy as np

In [120]:
from google.colab import files

In [92]:
files.upload()

{}

In [121]:
df = pd.read_csv("Titanic ML.csv")
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [122]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB
None

Penjelasan nama kolom :


*   PassengerId : nomor indentifikasi UNIK
*   Pclass : kelas tiket penumpang (1 : kelas tertinggi, 2 kelas reguler, 3 kelas terendah dalam kapal)
*   SibSp : jumlah saudara kandung atau pasangan yang ikut dalam kapal
*   Parch (Parents/Children) : jumlah orang tua atau anak yang ikut dalam kapal
*   Fare : harga tiket
*   Cabin : nomor cabin
*   Embarked : pelabuhan tempat penumpang naik ke kapal

In [123]:
x = df['Age'].mean()
print(x)

30.272590361445783

In [124]:
df1 = df
df1["Age"].fillna(30.0, inplace = True) #untuk mengganti nilai NaN di Age dengan hasil rata rata yaitu 30
df1

<ipython-input-124-ade886242d15>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["Age"].fillna(30.0, inplace = True) #untuk mengganti nilai NaN di Age dengan hasil rata rata yaitu 30

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.3583,NaN,C

In [125]:
df1["Ticket"] = df["Ticket"].str.replace(" ", "")  # Hapus spasi pada kolom ticket
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,A.5.3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q.3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.3583,NaN,C

In [126]:
#menghapus tanda baca / dan . pada kolom ticket
df1["Ticket"] = df1["Ticket"].str.replace(r"[./]", "", regex=True)
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,A53236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTONOQ3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.3583,NaN,C

In [127]:
#menghapus tulisan huruf pada kolom tiket
df1["Ticket"] = df1["Ticket"].str.replace(r"\D", "", regex=True)
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,53236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.3583,NaN,C

In [128]:
#menghapus data yang sama pada tabel
df1.drop_duplicates(inplace=True)
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,53236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.3583,NaN,C

In [129]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

In [130]:
df1['Fare'] = df1['Fare'].round(1)  # Membulatkan ke 1 desimal
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.7,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.7,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,53236,8.0,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,17758,108.9,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.4,NaN,C

In [131]:
#mengisi kolom Cabin yang NaN diganti unknown
df1['Cabin'].fillna('Unknown', inplace=True)
df1

<ipython-input-131-542e513e053c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Cabin'].fillna('Unknown', inplace=True)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8,Unknown,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0,Unknown,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.7,Unknown,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.7,Unknown,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,53236,8.0,Unknown,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,17758,108.9,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0,Unknown,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.4,Unknown,C

In [132]:
#mengubah tipe data ke string untuk mengubah kolom tiket
df1['Ticket'] = df1['Ticket'].astype(str)

In [133]:
#mengubah format agar memikiki 7 angka (untuk yang kurang ditambah 0 pafda angka sebelumya)
df1['Ticket'] = df1['Ticket'].str.zfill(7)
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,0330911,7.8,Unknown,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,0363272,7.0,Unknown,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,0240276,9.7,Unknown,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,0315154,8.7,Unknown,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,0053236,8.0,Unknown,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,0017758,108.9,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,S
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,0359309,8.0,Unknown,S
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,0002668,22.4,Unknown,C

In [134]:
#mengubah isi kolom embarked ke nama pelabuhan penumpang naik ke kapal
df1['Embarked'] = df1['Embarked'].replace({'C': 'Cherbourg', 'Q': 'Queenstown', 'S': 'Southampton'})
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,0330911,7.8,Unknown,Queenstown
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,0363272,7.0,Unknown,Southampton
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,0240276,9.7,Unknown,Queenstown
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,0315154,8.7,Unknown,Southampton
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,0053236,8.0,Unknown,Southampton
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,0017758,108.9,C105,Cherbourg
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,Southampton
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,0359309,8.0,Unknown,Southampton
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,0002668,22.4,Unknown,Cherbourg

In [135]:
df1.to_csv('cleandata.csv', index=False)
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,0330911,7.8,Unknown,Queenstown
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,0363272,7.0,Unknown,Southampton
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,0240276,9.7,Unknown,Queenstown
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,0315154,8.7,Unknown,Southampton
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,0053236,8.0,Unknown,Southampton
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,0017758,108.9,C105,Cherbourg
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,Southampton
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,0359309,8.0,Unknown,Southampton
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,0002668,22.4,Unknown,Cherbourg

In [136]:
df1.to_csv('cleandata.csv')
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,0330911,7.8,Unknown,Queenstown
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,0363272,7.0,Unknown,Southampton
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,0240276,9.7,Unknown,Queenstown
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,0315154,8.7,Unknown,Southampton
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,0053236,8.0,Unknown,Southampton
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,0017758,108.9,C105,Cherbourg
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,Southampton
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,0359309,8.0,Unknown,Southampton
417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,0002668,22.4,Unknown,Cherbourg

In [137]:
df1=pd.read_csv('cleandata.csv')
df1

,Unnamed: 0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8,Unknown,Queenstown
1,1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0,Unknown,Southampton
2,2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.7,Unknown,Queenstown
3,3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.7,Unknown,Southampton
4,4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,Unknown,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...
413,413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,53236,8.0,Unknown,Southampton
414,414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,17758,108.9,C105,Cherbourg
415,415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,3101262,7.2,Unknown,Southampton
416,416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0,Unknown,Southampton
417,417,1309,3,"Peter, Master. Michael J",male,30.0,1,1,2668,22.4,Unknown,Cherbourg